# Assignment 3- Hypothesis_Testing

# Question 4

TeleCall uses 4 centers around the globe to process customer order forms.<br>
They audit a certain %  of the customer order forms. <br>
Any error in order form renders it defective and has to be reworked before processing. <br>
The manager wants to check whether the defective %  varies by centre.<br>
Please analyze the data at 5% significance level and help the manager draw appropriate inferences

Minitab File: CustomerOrderForm.mtw

In [1]:
import pandas as pd
import numpy as np
import seaborn as sns
from scipy import stats
from scipy.stats import chi2_contingency

In [2]:
tele_call=pd.read_csv("Costomer+OrderForm.csv")
tele_call.head()

  Phillippines   Indonesia       Malta       India
0   Error Free  Error Free   Defective  Error Free
1   Error Free  Error Free  Error Free   Defective
2   Error Free   Defective   Defective  Error Free
3   Error Free  Error Free  Error Free  Error Free
4   Error Free  Error Free   Defective  Error Free

In [3]:
tele_call= tele_call.replace(('Error Free', 'Defective'),(1,0))
tele_call

     Phillippines  Indonesia  Malta  India
0               1          1      0      1
1               1          1      1      0
2               1          0      0      1
3               1          1      1      1
4               1          1      0      1
..            ...        ...    ...    ...
295             1          1      1      1
296             1          1      1      1
297             1          1      0      1
298             1          1      1      1
299             1          0      0      1

[300 rows x 4 columns]

In [4]:
stat, pvalue, dof, expected = chi2_contingency(tele_call)

In [5]:
stat

112.74730231885849

In [6]:
pvalue

1.0

In [7]:
if pvalue<=0.05:
    print("Reject null hypothesis")
else:
    print("Accept null hypothesis")

Accept null hypothesis